@import "bootstrap/scss/bootstrap";

$dgreen: #364E3F;
$lgreen: #456509;
$brngreen: #28A745;
$white: #ffffff;
$black: #333333;
$ddgreen: #0d3019;
$hmbggreen: #4f730b;
$dgrey: #d6d5d6;

.bg-dgrey{
  background: $dgrey;
}
.bg-lgreen{
background: $brngreen;
}
.bg-dgreen{
  background: $dgreen;
}
.txt-lgreen{
  color:$brngreen;
}

a{
  color:$brngreen;
}

.btn.btn-primary{
  background-color: $brngreen;
  color: $white;
  border:none;
}
footer{
  background-color: $lgreen;
  padding:10px;
}
header{
  background-color: $lgreen;
  .navbar-expand-lg{
    .navbar-nav{
      .nav-link{
        color: $white;
      }
    }
  }
}
.dropdown {
  button{
    border-radius: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 0;
    background: $brngreen; 
    margin-left:10px;
    border:none;
  }
}
.home-link{
  color: $black;
  font-weight: 500;
}
.navbar-bg {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*======================Home Page starts here===============================*/
  .home-cont{
    background-color: $hmbggreen;
    height:auto;
    min-height:100vh;
  }
  .select-coloumn{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  }
  .uns-items{
    img{
      width: 100%;
      // min-height: 213px;
    }
  }
/*======================Home Page End here===============================*/

/*=====================Member Details & Member List===================================*/
.memberfillform{
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
.memberlist-cont{
  background: #d6d5d6 !important;
  h5{
    background: #456509;
    color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
  }
 .md-box {
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 17px #8e8f91;
  }
}
.member-details{
  background: #d6d5d6 !important;
  h5{
    background: #456509;
    color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
  }
 .md-box {
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 17px #8e8f91;
  }
  .rdbtn{
    input{
      width: 20px;
      height:20px;
    }
  }
  .referal-details{
    input{
      border:none;
      background: none;
      font-weight: bold;
      padding:0;
      &:focus{
        border:none;
        box-shadow: none;
      }
    }
  }
  .data-table{
    table{
      tr{
        td{
          min-height: 100px;
           input[type="radio"]:checked{
              color:#28A745;
              background: #28A745;
            }
          }
        }
      }
    }
  }
/*==================  Member Details & Member List===================================*/

/**/
.dashboard-cont{
  .modal-content{
    .modal-header{
      padding: 0 20px;
      h5{
        background: none;
        color:$black;
      }
    }
    .modal-footer{
      display: none;
    }
  }
}
/**/

/*=====================Signup & Register starts================================*/
.bg-image {
  background-image: url('../images/bgimage.png'); /* Adjust the path to your image */
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100vh; /* Sets the height to full viewport height */
  width: 100%; /* Ensures full width */
}
.boxbg {
  position: relative; /* Establish a context for pseudo-element */
  overflow: hidden; /* Prevents overflow issues */
  background: transparent;
}

.boxbg-set {
  position: relative; /* Establish a context for pseudo-element */
  overflow: hidden; /* Prevents overflow issues */
  background: $white;
}

.bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  background-color: $ddgreen;
  opacity: 0.5; /* Adjust opacity here */
  z-index: 1; /* Places it behind the content */
}
.cont-int{
  position: relative;
  z-index:2;
}
.cursor{
  cursor: pointer;
}
.back-lnk{
  margin-bottom: 30px !important;
  color: #364E3F;
  display: inline-block;
  border: 2px solid #ccc;
  padding: 6px 12px;
  border-radius: 6px;
  background: #ccc;
}
/*=====================Signup & Register end================================*/

/*@media Query styles*/
@media screen and (max-width: 992px) { 
  .home-cont{
    height:auto;
  }
}